/* Easings */

@theme inline {
    --animation-ease-linear: linear;
    --animation-ease-ease: ease;
    --animation-ease-ease-in: ease-in;
    --animation-ease-ease-out: ease-out;
    --animation-ease-ease-in-out: ease-in-out;
    --animation-ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
    --animation-ease-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --animation-ease-snappy: cubic-bezier(0.2, 0.8, 0.2, 1);
    --animation-ease-smooth: cubic-bezier(0.4, 0.0, 0.2, 1);
    --animation-ease-dramatic: cubic-bezier(0.87, 0, 0.13, 1);
}
